<form (ngSubmit)="onSubmit(f)" [formGroup]="form" #f="ngForm">
    <div *ngIf="players && players.length > 0" formArrayName="playersFA">
        <div
            *ngFor="let player of playersFA.controls; let i = index;"
        >
            <h2>{{player.value.name}}</h2>
            <div class="form-group" [formGroupName]="i">
                <input type="text" required class="form-control hidden" formControlName="name">
                <input type="number" required class="form-control" formControlName="score">
            </div>
        </div>

    </div>
    <hr>

    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Next</button>
</form>

